/* Product Card Swiper Stylesheet & Category Card Swiper Stylesheet */
.product-swiper-container,
.category-swiper-container {
   position: relative;
}

.product-swiper-container .swiper-button-container {
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 12px;
}

.category-swiper-container .swiper-button-container {
   position: absolute;
   bottom: -65px;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   align-items: center;
   justify-content: center;
   column-gap: 12px;
}

.category-swiper-container .swiper-button,
.product-swiper-container .swiper-button {
   height: 37px;
   min-width: 55px;
   background: rgb(59, 38, 103);
   background: linear-gradient(90deg, rgb(109, 69, 196) 0%, rgb(126, 66, 196) 100%);
   color: #fff;
}

.category-swiper-container .small-swiper-button,
.product-swiper-container .small-swiper-button {
   height: 30px;
   min-width: 40px;
}

.card-swiper .swiper {
   width: 100%;
}